# Ignore node_modules for both frontend and backend
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment config
.env

# Ignore build output
/build
/dist

# System files
.DS_Store
Thumbs.db
